<h1>Edit page for <%= @task.name %></h1>

<%= form_for @task do |f| %>
  <p>Task name: <%= f.text_field :name %></p>
  
  <p>Deadline (YYYY-MM-DD): <%= f.text_field :deadline%></p>
  
  <p>Complete? <%= f.check_box :complete%></p>
  
  <p>Project: <%= f.collection_select(:project_id, @projects, :id, :name )%></p>
    
  <p>Category: <%= f.collection_select(:categories, @categories, :id, :name )%></p>
    
  <p><%= f.submit %></p>

<% end %>

<%= form_for(@task, :url => add_category_path, :method => "post") do |f| %>

  <p>Category: <%= f.collection_select(:categories, @categories, :id, :name )%></p>
  
  <p><%= f.submit %></p>
  
<% end %>
  
<%= form_for(@task, :url => add_user_path, :method => "post") do |f| %>
  
  <p>Assigned to: <%= f.collection_select(:users, @users, :id, :name )%> </p>
  
  <p><%= f.submit %></p>

<% end %>

<p>Would you like to delete "<%= @task.name %>" from your profile? This action can not be undone: <%= link_to 'Delete', task_path(@task.id), :method => :delete, data: {confirm: 'Are you sure you want to delete ' + @task.name + '?' } %></p>

<p><%= link_to('Home', root_path) %></p>
