<div id="tasks_index_page">
<h1>All Tasks</h1>

<table>
  <tr>
    <td>Task Name</td>
    <td>Deadline</td>
    <td>Status</td>
    <td>Assigned to project:</td>
    <td>Project:</td>
    <td>Assigned to:</td>
  </tr>
  <% @tasks.each do |t| %>
  
  <tr>
	<td><%= t.order %></td>
    <td><%= link_to(t.name, task_path(t.id)) %></td>
    <td><%= t.deadline %></td>
    <td><%= t.completed.capitalize %></td>
	
	<% if t.project %>
	
    	<td><%= link_to(t.project.name, project_path(t.project.id)) %></td>
	<% else %>
  
      <td>&nbsp;</td>
  	
	<% end %>
  
	<% if t.users != [] %>
	
    <td><% t.users.each do |u| %>
              <%= link_to(u.name, user_path(u.id)) %>
           <% end %></td>

	<% else %>
  
      <td>&nbsp;</td>
  	
	<% end %>
	
    <td><%= link_to("Edit", edit_task_path(t.id)) %></td>
    <td><%= link_to("Delete", task_path(t.id), :method => :delete, data: {confirm: 'Are you sure you want to delete ' + t.name + '?' })%>
		
  </tr>
  <% end %>
  
</table>
<div id="tasks_index_links">
<p><%= link_to("New Task", new_task_path) %></p>

<p><%= link_to('Home', root_path) %></p>
</div>
</div>