<h1>All Tasks</h1>



<table>
  <tr>
    <td>Task Name</td>
    <td>Deadline</td>
    <td>Complete?</td>
  <% @tasks.each do |t| %>
  <tr>
    <td><%= link_to(t.name, task_path(t.id)) %></td>
    <td><%= t.deadline %></td>
    <td><%= t.completed.capitalize %></td>
    <td><%= link_to("Edit", edit_task_path(t.id))%></td>
  </tr>
  <% end %>
</table>

<p><%= link_to("New Task", new_task_path) %></p>