<h1>Show detail page for <%= @task.name %></h1>

<p>Task name: <%= @task.name %></p>
<p>Deadline: <%= @task.deadline %></p>
<p><%= @task.completed.capitalize %></p>
<p><%= link_to("Edit task", edit_task_path) %></p>

<%= link_to("All tasks", tasks_path)%>