<h1>Show detail page for <%= @task.name %></h1>

<p>Task name: <%= @task.name %></p>

<% if @task.project == nil %>
  
  <p>Not assigned to a project</p>
  
<% else %>

  <p>Assigned to Project: <%= @task.project.name %></p>
  
<% end %>

<% if @task.users == [] %>

  <p>Not assigned to a user</p>
  
<% else %>

<!-- This is returning a user object and not the e-mail attribute for that user object. Not sure why. -->
  <p>Assigned to: <% @task.users.each do |u| %>
           <%= u.name %></p>
         <% end %>
  
<% end %>

<p>Deadline: <%= @task.deadline %></p>

<p><%= @task.completed.capitalize %></p>

<% @task.categories.each do |cat| %>

    <p><%= link_to(cat.name, category_path(cat.id)) %></p>
	
   <% end %>
   
<% if @task.comments == nil %>

  <p> No comments on this task. Start the conversation by adding one below. </p>
  
<% else %>

  <% @task.comments.each do |c| %>
    <p><%= link_to(c.user.email, user_path(c.user.id))%>: <%= simple_format(c.comment_text)%></p>
    <% end %>
<% end %>
   
<p>New comment:</p>
<%= form_for(@comment, :url => add_comment_path, :method => "post") do |f| %>

  <%= f.text_field :comment_text%>
  
  <p><%= f.submit %></p>
  
  <% end %>
   
<p><%= link_to("Edit task", edit_task_path(@task.id)) %></p>

<%= link_to("All tasks", tasks_path)%>

<p><%= link_to('Home', root_path) %></p>