<div class="adding_tasks">
  
    <h1>Add a new task</h1>

     <% @task.errors.full_messages.each do |msg| %>

      <p><%= msg %></p>

    <% end %>

    <%= form_for @task do |f| %>

      <p>Task name: <%= f.text_field :name %></p>
  
      <p>Deadline (YYYY-MM-DD): <%= f.text_field :deadline%></p>
  
      <%= f.submit %>
  
    <% end %>
       
  </div>
 
<div class="users_tasks">
        
    <h1>Show detail page for <%= @task.name %></h1>

    <p>Task name: <%= @task.name %></p>

    <% if @task.project == nil %>
  
          <p>Not assigned to a project</p>
  
        <% else %>

          <p>Assigned to Project: <%= @task.project.name %></p>
  
        <% end %>

        <% if @task.users == [] %>

          <p>Not assigned to a user</p>
  
        <% else %>

          <p>Assigned to: <% @task.users.each do |u| %>
                   <%= u.name %></p>
                 <% end %>
  
        <% end %>

        <p>Deadline: <%= @task.deadline %></p>

        <p><%= @task.completed.capitalize %></p>

        <% @task.categories.each do |cat| %>

            <p><%= link_to(cat.name, category_path(cat.id)) %></p>
	
           <% end %>
     
            </div>
             
 
             
 
 
             
 
            <div class="activity_feed">
 
              <% @activities.each do |activity| %>
                  <p><%= activity.user.name + ' ' + activity.action + 'd ' + activity.trackable_type + ' ' + activity.trackable.name %></p>

	
              <% end %>
             
 
          </div>
        </div>
      </div>

 
    