<div id="welcome">
  
  <% @user.errors.full_messages.each do |msg| %>

    <p><%= msg %></p>
  
  <% end %>
  
  
  <h1>Welcome, let's get started..!</h1>
  <h6>Already a user, log in below...</h6>
  
    <%= form_tag login_path do %>

    	<div class="field">
    		<%= label_tag :email %><br />
        	<%= text_field_tag :email, params[:email] %>
      	</div>

      	<div class="field">
        	<%= label_tag :password %><br />
        	<%= password_field_tag :password %>
      	</div>

      	<%= submit_tag "Log In" %>
      </div>
    
    <% end %>
  
<div id="welcome_2">
  <h6></h6>
  <h6></h6>
  <h6>Or create a new account...</h6>
  
  <%= button_to "New User", {action: "new", :controller=>"users"}, method: :get   %>
  
</div>
