<h1>Detail page for <%= @project.name %></h1>

<p><%= @project.name %></p>
<p><%= @project.deadline %></p>
<p><%= simple_format(@project.description)%></p>
<p><%= link_to("Edit project", edit_project_path(@project.id)) %></p>

<%= link_to("All projects", projects_path)%>