<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TaskManager</title>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Zeyada' rel='stylesheet' type='text/css'>
  <meta name="description" content="Get Organised!">
  
<!-- DO NOT CHANGE THIS -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
<!--DO NOT CHANGE THIS -->
	
</head>

<body>
  <%= session %>
	<div id="container">
    <div id="auto_height">
		<header>
			<div id="header_content">
  			<p><a href="/">TaskManager</a></p>
			</div>
			<nav>
				<ul>
					<li><img src="http://uxrepo.com/static/icon-sets/typicons/svg/home.svg"><a href="/">Home</a></li>
					<li><img src="http://freeiconbox.com/icon/256/16363.png"><a href="/users/new">Create User</a></li>
          <li><img src="http://uxrepo.com/static/icon-sets/mfg-labs/svg/login.svg"><a href="/login">Login</a></li>

				 
				</ul>
			</nav>
			
		</header>
		
		<div id="content">
			
		 	<%= yield %>
		 
    <div id="footer">
        <ul>
          <li><a href="/projects">View all projects</a></li>
          <li><a href="/tasks">View all tasks</a></li>
    			<li><a href="/">TaskManager</a></li>
          <li><a href="#">Contact Us</a></li>
          <li> 2014 </li>
        </ul>
      </div>
    </div>
</body>
</html>

