<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TaskManager</title>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Zeyada' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <meta name="description" content="Get Organised!">  
<!-- DO NOT CHANGE THIS -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
<!--DO NOT CHANGE THIS -->
</head>

<body>
	<div id="container">
	  <nav>
		  
  		<div id="nav_content">
  			<% if current_user %>
    				<p><a href="/dashboard">TaskManager</a></p>
  			<% else %>
    				<p><a href="/">TaskManager</a></p>
  			<% end %>
  		</div>
		
  		<% if current_user %>	
  			<div id="welcome_message">
			
  				<p>Welcome, <%= current_user.name %>!</p>
  			</div>
  		<% end %>


  		<div id="nav_links">
          	<% if current_user %>
      			<ul>
      				<li><img src="http://uxrepo.com/static/icon-sets/typicons/svg/home.svg"><a href="/dashboard">Home</a></li>
					
      				<li><img src="http://imagebox.com/app/wp-content/uploads/2013/05/iconmonstr-clipboard-5-icon.png"><a href="/projects">Projects</a></li>
					
  					<li><img src="http://imagebox.com/app/wp-content/uploads/2013/05/iconmonstr-clipboard-5-icon.png"><a href="/tasks">Tasks</a></li>
					
  					<li><img src="http://uxrepo.com/static/icon-sets/mfg-labs/svg/logout.svg"><a href="/logout">Logout</a></li>
					
              	</ul>
  			<% else %>
			
            		<ul>
              		<li><img src="http://uxrepo.com/static/icon-sets/mfg-labs/svg/login.svg"><a href="/">Login</a></li>
					
    					<li><img src="http://uxrepo.com/static/icon-sets/typicons/svg/home.svg"><a href="/">Home</a></li>
					
    					<li><img src="http://freeiconbox.com/icon/256/16363.png"><a href="/users/new">Create User</a></li>
					
            	  	</ul>
				
            	<% end %>
			
  		</div>
		
	  </nav>
	 
	<div id="content">
	
		<div id="flash">	
    		<% flash.each do |name, msg| -%>
          		<%= content_tag :div, msg , class: flash %>
 			<% end %>
		</div>

  		 	<%= yield %>
        
     </div>
      
	<footer>
		<div id="footer_content">
			<p>Made by: Ryan, Paul, Jen and Kyle - 2014</p>
		</div>
	</footer>
	
  </div>
</body>
</html>
